.project-card {
    margin: 35px 0px;
    backdrop-filter: blur(20px);
    background: radial-gradient(45% 38% at 26% 57%, rgba(217, 217, 217, 0.2) 0%, rgba(115, 115, 115, 0.20) 80.39%);
    border-radius: 30px;
    border: 1px solid white;
    padding: 25px 25px;


    .project-card-tools {
        display: flex;
        margin: 5px ;
        gap: 10px;

        p {
            border: 1px solid white;
            backdrop-filter: blur(20px);
            background: radial-gradient(45% 38% at 26% 57%, rgba(217, 217, 217, 0.2) 0%, rgba(115, 115, 115, 0.20) 80.39%);
            border-radius: 15px;
            padding: 5px 10px;
            font-size: 13px;
            font-style: normal;
        }
    }

    .project-card-name {
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0px;
    }

    .project-card-buttons {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {

    .project-card {
        
        padding: 20px 15px;

    .project-card-tools {
        margin: 10px;

        p {
            padding: 5px 5px;
            font-size: 10px;
        }
    }

    .project-card-name {
        font-size: 25px;
    }
}
}

@media screen and (min-width: 1200px) {
    .project-card {
    padding: 30px 25px;

        

        .project-card-tools {
            margin: 10px ;
            gap: 15px;
    
            p {
                padding: 5px 10px;
                font-size: 13px;
            }
        }

        .project-card-name {
            font-size: 35px;
        }

        
}
}